body {
  background-image: url("/images/Pink-Rice-Subtle-Texture.jpeg");
}

h1 {
  color: rgb(51, 48, 51);
  font-family: sans-serif;
  text-align: center;
}

.beans,
.fish-and-chips,
.recipe-images,
.pot-noodle {
  width: 250px;
  height: 200px;
  border: 2px solid black;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px 20px 20px 50px;
}

.beans {
  background-image: url(/images/beans.jpeg);
  -moz-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.beans:hover {
  background-image: url(/recipes/salt.gif);
  width: 250px;
  height: 200px;
  background-size: cover;
  cursor: pointer;
}

.pot-noodle {
  background-image: url(/images/pot-noodle.jpeg);
  -moz-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.pot-noodle:hover {
  background: url(/recipes/noodles.gif);
  width: 250px;
  height: 200px;
  background-size: cover;
  cursor: pointer;
}

.fish-and-chips {
  background-image: url(/images/fish-and-chips.jpeg);
  -moz-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.fish-and-chips:hover {
  background: url(/recipes/fish.gif);
  width: 250px;
  height: 200px;
  background-size: cover;
  cursor: pointer;
}

.image-block {
  float: left;
}

#recipe-block {
  float: left;
}

.text {
  font-family: sans-serif;
  font-size: 18px;
  text-align: justify;
  margin-left: 25%;
  margin-right: 10%;
}
